@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto-Regular.ttf') format("opentype");
    font-weight: 400;
}
*{
    box-sizing: border-box;
    font-size: 20px;

}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Robo";
}
a{
    text-decoration: none;
}
label{
    opacity: .7;
}
.image-icone{
    width: 35px;
    height: 35px;
}
//home page
.header{
    display: flex;
    box-shadow: 1px 1px 3px rgb(206, 205, 205);
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 0 5%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;

    a{
        text-decoration: none;
    }
}
.container-gestion{
    width:90%;
    margin: 10px 5%;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card{
        width: 48%;
        height: 140px;
        border-radius: 20px;
    }
    .card{
        margin: 5px 0;
    }
    .gestion-agent,
    .gestion-feeder{
        display: inline-block;
        vertical-align: top;
    }
    .gestion-rapport{
        width: 100%;
    }
    .gestion-agent{
        transition: .2s;
        animation: gestionAgent 2s;
        background-color: rgb(47, 86, 212);
    }
    .gestion-horaire{
        transition: .2s;
        animation: gestionAgent 2s;
        background-color: rgb(230, 181, 46);
    }
    .gestion-programme{
        transition: .2s;
        animation: gestionAgent 2s;
        background-color: rgb(64, 122, 184);
    }
    .person{
        margin: 10px 10px;
    }
    .title{
        margin: 0 5px ;
        color: white;
        font-size: large;
        font-weight: bold;
        padding: 0 5px;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
        text-overflow: clip;
    }
    .gestion-feeder{
        background-color: rgb(109, 31, 235);
        animation: gestionFeeder 2s;
        transition: .2s;
    }
    .gestion-rapport{
        display: block;
        background-color: rgb(23, 149, 180);
        animation: gestionRapport 2s;
        transition: .2s;
    }
    @keyframes gestionAgent {
        from{
            transform: translateX(-100px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes gestionFeeder {
        from{
            transform: translateX(100px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes gestionRapport {
        from{
            transform: translateY(100px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
}
//page login
.login-main{
    margin: 20px 0;
    width: 100%;
    padding: 0 10%;
    .input-form{
        display: block;
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border-color: beige;
        text-decoration: none;
        padding: 0 15px;
        border: 0.2px solid rgb(104, 104, 104);
        font-size: 14px;
        font-style: italic;
    }
    .logo-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30%;
        .login{
            font-family: cursive;
            margin-top: 0;
            margin-bottom: 50px;
            padding-top:10px ;
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 30px;
            height: 0px;
        }
        .image-icone{
            justify-items: baseline;
            height: 60px;
            width: 60px;
            border-radius: 5px;
        }
    }
    .group-form{
        margin:5px 0;
    }
    .label-form{
        display: block;
        font-family: system-ui;
        margin-bottom: 5px;
    }
    .btn-group{
        display: flex;
        justify-content: right;
        margin-top: 10px;
        .btn{
            background-color: rgba(27, 58, 161, 0.842);
            height: 50px;
            width: 100%;
            margin-top: 10px;
            border: 1px solid rgba(27, 58, 161, 0.842);
            border-radius: 5px;
            color: white;
            font-family: sans-serif;
            font-size: 22px;
        }
    }
}
//agents
.m-agent{
    animation: slidedown 2s ;
    transition: .10s;
    width: 80%;
    margin: 0 10%;
    margin-top: 70px;
    .header-agents{
        width: 100%;
        margin-bottom: 10px;
        .input-search{
            width: 100%;
            border: 1px solid rgb(214, 214, 214);
            height: 35px;
            border-radius: 10px;
            padding: 0 10px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .div-retour-add-agent{
        display: flex;
        justify-content: space-between;
    }
    .options{
        transform: translate(0%,-200%);
        border-radius: 5px;
        width: max-content;
        margin-left: 5px;
        margin: 5px 85%;
        text-align: right;
        .image-icone{
            height: 16px;
            width: 16px;
        }
        li{
            width: 100%;
        }
        a{
            font-size: 14px;
        }

        ul{
            list-style-type: none;
            padding: 0;
        }
        li{
            list-style-type: none;
        }
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .card-agent{
        position: relative;
        width: 100%;
        height: 300px;
        margin: 2px 1px;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(199, 199, 199);
        margin: 5px 1px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 10px;
    }
    .option-icone{
        position: absolute;
        bottom: 10%;
        right: 5px;
    }
    .option-icone{
        height: 20px;
        width: 20px;
        margin-right: 2px;
        transform: translateY(100%);
    }
    .f-btn{
        display: flex;
        justify-content: space-between;
        margin: 0 2px;
    }
    .menu-agent{
        display: none;
        background-color: red;
        margin: 90px;
    }

    .div-img-agent{
        background-color: rgb(66, 167, 214);
        border-top-right-radius:10px ;
        border-top-left-radius: 10px;
        height: 50%;
        img{
            top: 40%;
            left: 5%;
            height: 100%;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

    }
    .div-img-feeder{
        background-color: rgb(168, 21, 182);
        img{
            position: relative;
            top: 40%;
            left: 5%;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            transition: transform .2s cubic-bezier(0.94, 0.03, 0.14, 0.97);
        }
    }
    @keyframes slidedown {
        0%{
            transform: translateY(200px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .title-agent{
        padding-left: 5px;
        .text-name{
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            color: rgb(36, 32, 32);
            display: block;
            margin-top: 14px;
        }
        .mail-agent{
            font-family: 'Inter', sans-serif;;
            font-size: small;
            color: gray;
        }
        .name-feeder{
            font-size: 18px;
            font-family: 'Inter', sans-serif;
            margin: 0;
            bottom: 5px;
            font-family: ans-serif;
            color: rgb(32, 32, 32);
        }
    }
}

//add-agent
.add-agent-main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
    margin-top: 70px;
    .label-form{
        display: block;
        width: 100%;
        transform: translate(4%,120%);
        font-size: medium;
        color: inherit;
        font-family: Arial, Helvetica, sans-serif;
    }
    .title{
        font-family: Arial, Helvetica, sans-serif;
    }
    .div-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
    }
    form{
        width: 100%;
    }
    .input-form-check{
        margin-top: 20px;
        display: block;
        height: 40px;
        width: 100%;
        border-radius: 7px;
        border: 1px solid grey;
        padding: 5px;
        transition: .2S;
    }
    .input-form{
        display: block;
        height: 50px;
        font-size: 18px;
        width: 100%;
        border-radius: 7px;
        border: 1px solid grey;
        padding: 5px 10px 0;
        transition: .2S;
        &:focus{
           padding-bottom: -10px;
           font-size: medium;
           padding-top: 20px;
        }
    }
    .group-form-btn{
        margin: 20px 0;
        .btn-submit{
            width: 100%;
            height: 50px;
            border-radius: 10px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            background-color: rgb(101, 52, 235);
            border: 1px solid rgb(101, 52, 235);
        }
    }
}
//m-programme
.m-programme{
    width: 100%;
    margin: 0%;
    margin-top: 70px;
    .header-programmes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .div-retour-add-programme{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    form{
        width: 100%;
    }
    .group-form{
        width: 100%;
    }
    .input-search{
        width: 100%;
        height: 40Px;
        border-radius: 5px;
        border: 1px solid grey;
        font-size: 14px;
        padding: 0 10px;
    }
    .container{
        width: 100%;
        overflow-x: scroll;
    }
    .table{
        margin-top: 10px;
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
        td{
            background-color: white;
            text-align: center;
        }
        tr{
            border: 1px solid black;
        }
        th{
            font-size: 16px;
            background-color: rgb(247, 247, 247);
            margin: 0;
            font-family: sans-serif;

        }
    }
    .image-icone{
        height: 20px;
        width: 20px;
    }
    .image{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .action{
        display: flex;
        justify-content: space-evenly;
        padding: 4px;
        align-items: center;
    }
}
@media screen and (min-width:700px) {
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 20%;
    }
    .container-gestion{
        width:60%;
        margin: 10px 20%;
        margin-top: 70px;
    }
    .login-main{
        width: 50%;
        margin: 5% 25%;
    }
    .m-agent{
        width: 40%;
        margin: 0 30%;
    }
    //agents
    .m-agent{

        width: 60%;
        margin: 0 20%;
        @media screen and (min-width:1000px){

        }
        .container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

        }
        .card-agent{
            width: 30%;
            background-color: white;
            box-shadow: 1px 1px 10px rgb(199, 199, 199);
            height: 200px;
            margin: 5px 5px;
            border-radius: 10px;
            border-top-right-radius: 10px;
            @media screen and (min-width:1000px){
                width: 23%;
            }
        }
        .div-img-agent{
            height: 50%;
            img{
                position: relative;
                top: 40%;
                left: 5%;
                width: 70px;
                height: 70px;
                border-radius: 70px;
            }
        }
    }
    //add agent
    .add-agent-main{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20%;
        .title{
            font-family: Arial, Helvetica, sans-serif;
        }
        form{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .group-form{
                width: 48%;
            }
        }

    }
    //p
    .m-programme{
        width: 60%;
        margin: 0 20%;
    }
}
