*{
    box-sizing: border-box;
    font-size: 20px;
}
body{
    background-color: rgb(252, 252, 252);
}
a{
    text-decoration: none;
}
.image-icone{
    width: 35px;
    height: 35px;
}
//home page
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 80%;
    margin: 0 10%;
    a{
        text-decoration: none;
    }
}
.container-gestion{
    width:80%;
    margin: 10px 10%;
    .card{
        width: 48%;
        background-color: blue;
        height: 130px;
        border-radius: 20px;
    }
    .card:last-child{
        margin-top: 7px;
    }
    .gestion-agent,
    .gestion-feeder{
        display: inline-block;
        vertical-align: top;
    }
    .gestion-rapport{
        width: 97%;
    }
    .gestion-agent{
        transition: .5s;
        animation: gestionAgent 5s;
        background-color: rgb(243, 43, 200);
    }
    .person{
        margin: 10px 10px;
    }
    .title{
        margin: 0 5px ;
        color: white;
        font-size: large;
        font-weight: bold;
        padding: 0 5px;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
        text-overflow: clip;
    }
    .gestion-feeder{
        background-color: rgb(109, 31, 235);
        animation: gestionFeeder 5s;
        transition: .5s;
    }
    .gestion-rapport{
        display: block;
        background-color: rgb(15, 228, 97);
        animation: gestionRapport 5s;
        transition: .5s;
    }
    @keyframes gestionAgent {
        from{
            transform: translateX(-100px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes gestionFeeder {
        from{
            transform: translateX(100px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes gestionRapport {
        from{
            transform: translateY(100px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
}
//page login
.login-main{
    margin: 20px 0;
    padding: 0 10%;
    .input-form{
        display: block;
        height: 40px;
        width: 100%;
        border-radius: 10px;
        border-color: beige;
        text-decoration: none;
        padding: 0 15px;
        border: 1px solid rgb(104, 104, 104);
        font-size: 16px;
    }
    .logo-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .group-form{
        margin: 20px 0;
    }
    .label-form{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 5px;
    }
    .btn-group{
        display: flex;
        justify-content: right;
        .btn{
            background-color: rgb(42, 92, 255);
            height: 50px;
            width: 100px;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border-color:rgba(42, 92, 255, 0.842);
            border-bottom-left-radius: 10px;
            border-top-right-radius: 30px;

            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
//agents
.m-agent{
    animation: slidedown 2s ;
    transition: .10s;
    width: 80%;
    margin: 0 10%;
    .header-agents{
        width: 100%;
        margin-bottom: 10px;
        .input-search{
            width: 100%;
            border: 1px solid rgb(214, 214, 214);
            height: 35px;
            border-radius: 5px;
            padding: 0 10px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .div-retour-add-agent{
        display: flex;
        justify-content: space-between;
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card-agent{
        width: 48%;
        height: 150px;
        margin: 2px 1px;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(199, 199, 199);
        margin: 5px 1px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 10px;
    }
    .option-icone{
        height: 20px;
        width: 20px;
        margin-right: 2px;
    }
    .f-btn{
        display: flex;
        justify-content: space-between;
        margin: 0 2px;
    }
    .div-img-agent{
        background-color: rgb(66, 167, 214);
        border-top-right-radius:10px ;
        border-top-left-radius: 10px;
        height: 40%;
        img{
            position: relative;
            top: 40%;
            left: 5%;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            transition: transform .5s cubic-bezier(0.94, 0.03, 0.14, 0.97);
        }
        img:hover{
            transform-origin: bottom left;
            transform: scale(1.3) rotate(10deg) ;
        }
    }
    @keyframes slidedown {
        0%{
            transform: translateY(200px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .title-agent{
        padding-left: 5px;
        .text-name{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            display: block;
            margin-top: 14px;
        }
        .text-feeder-name{
            font-size: 14px;
            margin: 0;
            position: relative;
            bottom: 5px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(32, 32, 32);
        }
    }
}


@media screen and (min-width:700px) {
    .header{
        width: 60%;
        margin: 0 20%;
    }
    .container-gestion{
        width:40%;
        margin: 10px 30%;
    }
    .login-main{
        width: 50%;
        margin: 5% 25%;
    }
    .m-agent{
        width: 40%;
        margin: 0 30%;
    }
    //agents
    .m-agent{

        width: 60%;
        margin: 0 20%;
        @media screen and (min-width:1000px){

        }
        .container{
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
        }
        .card-agent{
            width: 30%;
            background-color: white;
            box-shadow: 1px 1px 10px rgb(199, 199, 199);
            height: 200px;
            margin: 5px 5px;
            border-radius: 10px;
            border-top-right-radius: 10px;
            @media screen and (min-width:1000px){
                width: 23%;
            }
        }
        .div-img-agent{
            height: 50%;
            img{
                position: relative;
                top: 40%;
                left: 5%;
                width: 70px;
                height: 70px;
                border-radius: 70px;
            }
        }
    }
}
